<!-- <div class="bg-white py-3 px-5">
    <h4>Summary</h4>
    <br>
    <div class="d-flex justify-content-between">
        <p>Price (4 items)</p>
        <p>Rs. 150</p>
    </div>
    <hr>
    <div class="d-flex justify-content-between">
        <p>Delivery Charges</p>
        <p>Rs. 150</p>
    </div>
    <hr>
    <div class="d-flex justify-content-between">
        <p>Total Price</p>
        <p>Rs. 150</p>
    </div>

    <div class="text-center">
        <button class="btn btn-custom rounded-0">
            Place Order
        </button>
        <button class="btn btn-custom rounded-0">
            Confirm Order
        </button>
    </div>
</div> -->

<div class="bg-white py-3 px-5">
    <h4>Summary</h4>
    <br>
    <div class="d-flex justify-content-between">
        <p>Price ({{cartSummary.totalItems}} items)</p>
        <p>Rs. {{cartSummary.totalItemsPrice}}</p>
    </div>
    <hr>
    <div class="d-flex justify-content-between">
        <p>Delivery Charges</p>
        <p>Rs. {{cartSummary.deliveryCharges}}</p>
    </div>
    <hr>
    <div class="d-flex justify-content-between">
        <p>Total Price</p>
        <p>Rs. {{cartSummary.totalPrice}}</p>
    </div>

    <div class="text-center">
        <button class="btn btn-custom rounded-0" *ngIf="status==='cart'" (click)="onPlaceOrder()">
            Place Order
        </button>
    </div>
</div>