<div class="dropdown-btn rounded-0 custom-dropdown">
    <div class="dropdown-btn rounded-0">
        <div class="btn rounded-0"
            [ngClass]="[noBorder === true? '' : 'border',noBackground === true? '' : 'btn-light']">
            {{selectedOption}}
            <i class="fa fa-caret-down"></i>
        </div>

        <div>
            <div class="border rounded-0 pointer dropdown-element" style="display: inline-block;"
                [ngStyle]="{'width': listWidth}">
                <a *ngFor="let option of options" class="element p-2" (click)="selectOption(option)">
                    {{option.option}}
                    <i class="fa fa-caret-right mt-1 pull-right" *ngIf="option.subOptions"></i>
                    <div *ngIf="option.subOptions" class="border rounded-0 pointer sub-dropdown-element"
                        style="display: inline-block;" [ngStyle]="{'width': listWidth}">
                        <a class="element p-2" *ngFor="let subOption  of option.subOptions"
                            (click)="selectSubOption(subOption)">{{subOption}}</a>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>