<div class="row border-bottom mx-2 py-2 bg-white">
    <div class="col-md-3 d-flex align-items-center">
        <img src="../../assets/electronics-banner-02.jpg" style="height: 90px;" class="img-fluid">
    </div>
    <div class="col-md-6">
        <h5 class="p-0 m-0">Product Name</h5>
        <p class="p-0 m-0">Rs. 200</p>
        <div class="d-flex justify-content-start py-3">
            <button class="btn btn-secondary btn-sm rounded-0 px-3 mx-1">-</button>
            <div class="rounded-0 px-3 mx-1  pt-1 border border-dark">1</div>
            <button class="btn btn-secondary btn-sm rounded-0 px-3 mx-1">+</button>
        </div>
    </div>
    <div class="col-md-3 d-flex align-items-center">
        <button class="btn btn-outline-danger btn-sm  ml-4 rounded-0">Remove</button>
    </div>
</div>