<form (ngSubmit)="directSearch();">
<div class="input-group" [ngClass]="widthClass !== '' ? widthClass : 'w-25'">
    <input
        [(ngModel)]="searchTerm" 
        name="search"
        class="form-control rounded-0" 
        placeholder="{{placeholder}}"
        list="browsers"
        (input)="search($event)"
        >
        <datalist id="browsers">
            <option [value]="item" *ngFor="let item of suggestions">
        </datalist>

        <div class="input-group-append">
            <button 
            class="btn btn-outline-secondary rounded-0" 
            type="button"
            (click)="onSearch()">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
</form>