<div class="row">
    <div class="col-md-6">
        <form
            #categoryForm="ngForm"
            (ngSubmit)="onSubmit(categoryForm)"
        >
            <div class="form-group">
                <label>Category</label>
                <input
                    type="text"
                    class="form-control"
                    placeholder="Enter Category"
                    ngModel
                    name="category"
                    required
                >
            </div>

            <div class="form-group text-primary pull-right">
                <span>
                    <small
                        class="pointer"
                        (click)="addSubCategory()"
                    >
                        Add Sub Category
                    </small>
                    
                    <small *ngIf="subCategoriesInput.length>0"
                        class="pointer text-danger"
                        (click)="removeSubCategory()"
                    >
                        | Remove
                    </small>
                </span>
            </div>
            <br>    
            <div
                class="form-group"
                *ngFor="let item of subCategoriesInput"
            >
                <label>Sub Category</label>
                <input
                    type="text"
                    class="form-control"
                    placeholder="Enter Sub Category"
                    ngModel
                    [name]="item"
                >
            </div>
            <br>
            <hr>
            <div class="form-group text-center">
                <button
                    class="btn btn-custom mx-2"
                    type="submit"
                    [disabled]="!categoryForm.valid"
                >
                    Add
                </button>
            </div>
        </form>
    </div>
</div>
