<div class="col-md-3 my-3">
    <div class="card rounded-0" style="width: 15rem; z-index: 1;">
        <img class="card-img-top" src="../../assets/electronics-banner-02.jpg" height="200px">
        <div class="card-img-overlay">
            <div class="text-light pl-3 percent-box">
                <small>30% Off</small>
            </div>
            <div class="text-light pl-3 shadow percent-triangle">
            </div>
            <button class="btn btn-sm btn-custom pull-right rounded-0" style="position: relative; top: 30%;">Add to
                Cart</button>
        </div>
        <div class="card-body">
            <h5 class="card-title py-0 my-0">Card title</h5>
            <small class="py-0 my-0">brand</small>
            <p> <s class="text-secondary strike">Rs. 250</s> Rs. 200</p>
        </div>
    </div>
</div>