<div class="bg-white">
    <div class="sidebar bg-light border-right px-2 pt-3">
        <a class="p-2 px-1 my-2 rounded pointer"
            *ngFor="let sideMenuOption of sideMenuOptions"
            routerLinkActive="active"
            [routerLink]="[sideMenuOption.routerLink]"
            (click)="onSelectMenu(sideMenuOption.name)">
            <i class="fa" [ngClass]="[sideMenuOption.icon]"></i>
            {{sideMenuOption.name}}
        </a>
    </div>

    <div class="header pt-3 bg-light border-bottom">
        <div class="container px-0">
            <div class="row">
                <div class="col-sm"></div>
                <div class="col-sm">
                    <h3 class="text-secondary">{{selectedSideMenuOption}}</h3>
                </div>
                <div class="col-sm pt-1 pr-3">
                    <button class="btn btn-secondary pull-right ml-2 mb-2" (click)="logout()">
                        <i class="fa fa-sign-out"></i>
                        Logout
                    </button>
                </div>
            </div>
        </div>
    </div>

    <br>
    <div class="content">
        <router-outlet></router-outlet>
    </div>

</div>