<!-- Top Image -->
<img src="../../assets/electronics-banner-02.jpg" class="img-fluid">

<!-- Information Center  -->
<div class="bg-light p-5">
    <h2>Information Center</h2>
    <br>
    <div class="container">
        <img src="../../assets/electronics-banner-02.jpg" class="info-image">
    </div>
</div>

<!-- New Arrivals  -->
<div class="new-irivals p-5">
    <div class="d-flex justify-content-between">
        <div class="d-flex justify-content-between">
            <h2>New Arrivals</h2>
            <p class="ml-2 mt-2">(see all)</p>
        </div>

        <div class="d-flex justify-content-between mr-5">
            <span class="mt-2 mr-2">Sort By: </span>
            <app-dropdown></app-dropdown>
        </div>
    </div>
    <br>
    <div class="row px-5 pb-5">
        <app-product-card>
        </app-product-card>

        <app-product-card>
        </app-product-card>

        <app-product-card>
        </app-product-card>

        <app-product-card>
        </app-product-card>
    </div>

</div>